#content_intro {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 100px;
}
#introContainer {
  width: 80%;
  margin: auto;
}
#introContainer h3{
  margin: 10% 0px;
}
.websiteNote{
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  font-size: 10px;
  max-width: 350px;
}
.websiteNote a{
  text-decoration: none;
  color: #09d3ac
}
@keyframes glowing {
  0% { box-shadow: 0 0 0px red }
  30% { box-shadow: 0 0 40px red }
  70% { box-shadow: 0 0 40px red }
  100% { box-shadow: 0 0 0px red }
}
.redGlow {
  animation: glowing 2500ms;
}

svg {
  width: 270px;
}
g {
  margin: auto;
}
.path {
  stroke-dasharray: 530;
  stroke-dashoffset: 530;
  animation: dash 3s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill: #09d3ac;
  }
}
