#content_experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90vh;
  text-align: center;
  padding-top: 75px;
}
#content_experience p{
  width: 75%;
}
#logoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}
.logoImg{
  margin: 10px;
  max-width: 80px;
  max-height: 80px;
}
